.color-info {
  width: 100%;
  border-top: 2px solid #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles-wrapper {
  width: 80%;
  /* border: 2px solid #fefefe; */
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: minmax(100px, 25%) 1fr;
}

/* INFO NAVIGATION */
.articles-sidebar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-right: 2px solid #fefefe;
}

.sidebar-title {
  margin: 0.75rem 0 0.75rem 0.5rem;
  padding: 0;
}

.articles-sidebar a {
  cursor: pointer;
  text-decoration: none;
  color: #aeaeae;
}

.articles-sidebar a.active {
  color: #fefefe;
  font-weight: 700;
}

.articles-sidebar a:hover {
  color: #fefefe;
}

.article-title {
  font-size: 1rem;
  margin-left: 1.5rem;
}

/* ARTICLE */
.article-container {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  width: 100%;
}

.article-headline {
  text-align: center;
  margin: 0.75rem 0;
  padding: 0;
}

.article-text {
  color: #ededed;
}
