.palette-wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid #232323;
  background-color: #121212;
}

.palette-navigation {
  width: 80%;
  /* border-top: 1px solid #fefefe; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.palette-navigation .title {
  font-size: 1rem;
}

.generate-palette {
  cursor: pointer;
  font-size: 0.9rem;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 15px;
}

.generate-palette:hover {
  text-decoration: unerline;
}

/* PALETTE FUNCTIONS */
.palette-functions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.palette-functions-item {
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.palette-functions-item:hover {
  color: #9d9d9d;
}

/* COLOR PALETTE */
.color-palette {
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.color-on-palette {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-on-palette:hover {
  opacity: 0.85;
}
