.color-picker {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVIGATION */
.navigation {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.navigation-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  font-size: 1.75rem;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease;
}

.navigation-item {
  cursor: pointer;
  padding: 0.25rem 1rem;
}

.navigation-item:hover {
  color: red;
}

/* RANDOM COLOR GANERATOR */
.color-switcher {
  margin: 1.25rem 0;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.color-switcher-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-btn {
  margin: 0.25rem 0.75rem;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem 1.2rem;
  background-color: #000;
  border: 2px solid #ff512f;
  color: rgb(0, 0, 0);
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  transition: all 0.2s ease;
}

.color-btn:hover {
  background-color: #fefefe;
  color: #000;
  border: 2px solid #fefefe;
  border-radius: 10px;
}
